datagen/acic_2019
datagen/ihdp
datagen/acic_2022
datagen/acic_2018
datagen/news
datagen/schools
Experiments/dcc_runs
.idea/
**/__pycache__/
.DS_Store
**/.ipynb_checkpoints/
Experiments/cate_error/Results
Experiments/acic_error_and_runtime/Results*
Experiments/coverage/Results*
Experiments/mg_comparison/Results*
Experiments/metalearner/Results*
Experiments/coverage/.DS_Store
Experiments/scaling/Results*
Experiments/coverage/plotting/.DS_Store
Experiments/scaling/Results/
Experiments/schools/Results